<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="User Suite" verbose="1">

  <test name="Sanity and Smoke Tests">
    

    <classes>
      <class name="com.capstoneProject.HealthCare.HomePage"/>
      <class name="com.capstoneProject.HealthCare.ProgramPagesClickableResourcesTest"/>
      <class name="com.capstoneProject.HealthCare.ContactUsValidationTest"/>
      
    </classes>
  </test>

</suite>
